<div class="container-fluid ba-component">
  <h1 class="ba-title">{{ page_title }}</h1>
  <hr>
  <div class="ba-background">
    <div class="ba-banner">
      <p>
        Plataforma está diseñada para agregar personas, registrar sus datos personales y realizar consultas
      </p>
      <div class="ba-img-block">
        <img src="../../../assets/img/bg-home.png" alt="" class="ba-img">
      </div>
    </div>
  </div>
  <div class="ba-buttons">
    <a [routerLink]="['/login']" class="btn btn-blue mr3">Login</a>
    <a [routerLink]="['/registro']" class="btn btn-blue ml3">Registrate</a>
  </div>

</div>
