<div class="container-fluid ba-component">
  <h1 class="ba-title">{{ page_title }}</h1>
  <p class="text-center" *ngIf="!is_edit">Ingrese los datos de la persona nueva</p>
  <!-- <p class="text-center" *ngIf="is_edit && person">Modifica los datos de {{ person.name }} {{ person.surname }}</p> -->

  <div class="alert alert-success col-md-6 mx-auto mt-3" *ngIf="status === 'success'">
    Los datos de la entrada se han guardado correctamente.
  </div>

  <div class="alert alert-danger col-md-6 mx-auto mt-3" *ngIf="status === 'error'">
    Los datos no se han guardado
  </div>

  <form action="" class="col-md-5 mx-auto" #newPerson="ngForm" (ngSubmit)="onSubmit(newPerson)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombres" name="nombre" #name="ngModel" [(ngModel)]="people.name" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}">
      <small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">
        El texto no es válido
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Apellidos" name="apellido" #surname="ngModel" [(ngModel)]="people.surname" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}">
      <small class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">
        El texto no es válido
      </small>
    </div>
    <label for="identificacion">Tipo de identificación</label>
    <div class="ba-checkbox">
      <div class="form-check form-check-inline" *ngFor="let type of types">
        <input class="form-check-input" type="radio" checked name="inlineRadioOptions" id="inlineRadio1" [value]="type.value" #docType="ngModel" [(ngModel)]="people.docType">
        <label class="form-check-label" for="inlineRadio1" >{{ type.text }}</label>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Número de documento" name="serieNum" #serie="ngModel" [(ngModel)]="people.serie" required [pattern]="docType === CC ? numPattern : strPattern" />
      <small class="invalid-feedback d-block" *ngIf="!serie.valid && serie.touched">
        El numero de docmuento no es válido
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="people.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <small class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">
        El formato de email no es válido
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Número de teléfono" name="phone" #phone="ngModel" [(ngModel)]="people.phone" required pattern="[0-9]{7,25}$">
      <small class="invalid-feedback d-block" *ngIf="!phone.valid && phone.touched">
        El numero de telefono no es válido
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Direccíón domicilio" name="address" #address="ngModel" [(ngModel)]="people.address" required>
      <small class="invalid-feedback d-block" *ngIf="!address.valid && address.touched">
        El formato de direcciòn no es válido
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="¿Cómo nos conoces?" name="meet" #meet="ngModel" [(ngModel)]="people.meet">
      <small class="invalid-feedback d-block" *ngIf="!meet.valid && meet.touched">
        El texto no es válido
      </small>
    </div>
    <div class="text-center mb-4">
      <input type="submit" value="Guardar" class="btn btn-outline-success btn-lg mr-3" [disabled]="newPerson.invalid" />
      <button type="button" class="btn btn-outline-secondary btn-lg ml-3" (click)="refresh()">Limpiar</button>
    </div>
  </form>
</div>
